// --------------------------------------------------
// Text
// --------------------------------------------------


h1, h2, h3, h4, h5, h6,
p, a, i, li, *, *:after {
	font-family: 'Open Sans', sans-serif;
}

p, a, i, li {
	color: $darkgrey;
}

h1, h2, h3, h4, h5, h6 {
	color: $darkblue;
	// margin-bottom: 0;
}

h1 { font-size: 2.2rem; }
h2 { font-size: 1.9rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.3rem; }
h5 { font-size: 1rem; }
h6 { font-size: 0.8rem; }

@include breakpoint-up(md) {
	h1 { font-size: 3rem; }
	h2 { font-size: 2.5rem; }
	h3 { font-size: 2rem; }
	h4 { font-size: 1.5rem; }
}

a {
	color: $lightblue;
	text-decoration: none;
	transition: color 300ms;
	cursor: pointer;

	&:hover {
		color: $darkblue;
	}
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

