// --------------------------------------------------
// APP.SCSS
// --------------------------------------------------
// This is our main SCSS file that imports everything
// that gets compiled into app.css

// Import order:
// 1.  Encoding
// 2.  Fonts
// 3.  Variables
// 4.  Helpers
// 5.  Base
// 6.  Modules
// 7.  Layout
// 8.  Pages



// --------------------------------------------------
// 1. Encoding
// --------------------------------------------------
@charset 'UTF-8';



// --------------------------------------------------
// 2. Fonts
// --------------------------------------------------

// Open Sans
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,700");

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');



// --------------------------------------------------
// 3. Variables
// --------------------------------------------------

// Import our global variables first so we can use
// them in Foundations's variables file

// Global Config Variables
@import 'base/config';


// --------------------------------------------------
// 4. Helpers
// --------------------------------------------------

// Functions
@import 'helpers/functions';

// Mixins
@import 'helpers/mixins';



// --------------------------------------------------
// 5. Base
// --------------------------------------------------
@import 'base/text';
@import 'base/general';



// --------------------------------------------------
// 7. Layout
// --------------------------------------------------
@import 'layouts/l-default';
@import 'layouts/l-page';
@import 'layouts/l-post';



// --------------------------------------------------
// 6. Modules
// --------------------------------------------------
@import 'modules/header';
@import 'modules/card';
@import 'modules/buttons';



// --------------------------------------------------
// 8. Pages
// --------------------------------------------------
@import 'pages/frontpage';
@import 'pages/blog';



