// --------------------------------------------------
// APP.SCSS
// --------------------------------------------------
// This is our main SCSS file that imports everything
// that gets compiled into app.css

// Import order:
// 1.  Encoding
// 3.  Fonts
// 2.  Variables
// 4.  Flexgrid
// 5.  Helpers
//
// SMACSS Architecture
// 6.  Base
// 7.  Layout
// 8.  Modules
// 9.  State
// 10. Theme



// --------------------------------------------------
// 1. Encoding
// --------------------------------------------------
@charset 'UTF-8';



// --------------------------------------------------
// 3. Fonts
// --------------------------------------------------

// Open Sans
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,700");
@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald');



// --------------------------------------------------
// 2. Variables
// --------------------------------------------------

// Import our global variables first so we can use
// them in Foundations's variables file

// Global Config Variables
@import 'base/config';



// --------------------------------------------------
// 2. Flexgrid
// --------------------------------------------------
@import 'flexgrid/settings';
@import 'flexgrid/mixins';
@import 'flexgrid/grid';
@import 'flexgrid/general';



// --------------------------------------------------
// 5. Helpers
// --------------------------------------------------

// Functions
@import 'helpers/functions';

// Mixins
@import 'helpers/mixins';



// --------------------------------------------------
// 6. Base
// --------------------------------------------------
@import 'base/text';



// --------------------------------------------------
// 7. Layout
// --------------------------------------------------
@import 'layouts/l-default';
@import 'layouts/l-index';
@import 'layouts/l-page';
@import 'layouts/l-post';



// --------------------------------------------------
// 8. Modules
// --------------------------------------------------
@import 'pages/frontpage';



