// --------------------------------------------------
// Grid
// --------------------------------------------------


.row {
	padding: 1.25rem;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
}

.column {
	width: 100%;
	margin-left: $gutter;
	margin-right: $gutter;
}

.container {
	max-width: remCalc(1200px);
	margin-left: auto;
	margin-right: auto;
}



@each $breakpoint, $size in $breakpoints {
	@if $breakpoint == small {
		@for $i from 1 through $numberOfColumns {
			.#{$breakpoint}-#{$i} {
				@include buildColumns($i);
			}
		}
	} @else {
		@for $i from 1 through $numberOfColumns {
			@include breakpoint($breakpoint) {
				.#{$breakpoint}-#{$i} {
					@include buildColumns($i);
				}
			}
		}
	}
}

