// --------------------------------------------------
// Layout default
// --------------------------------------------------

body {
	display: flex;
	flex-direction: column;
}

section.title {
	grid-column: content-start / span 12;
	text-align: center;
}
