#frontPage, #frontPage .container {
	width: 100%;
	height: 100%;
	color: #fff;
	top: 0;
	left: 0;
}

#frontPage {

  background: url(../img/frontpage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


	.logo {
    position: relative;
    z-index: 1;
    width: 16rem;
    margin-left: -8rem;
    top: 15%;
    left: 50%;
    padding: .625rem;

    @media screen and (min-width: 40em) {
    	width: 20rem;
	    margin-left: -10rem;
    }
	}

	.container {
		background: rgba(70,70,70,.4);
    position: relative;
	} 
}

#enter {
  position: relative;
  width: 100%;
  text-align: center;
  top: 15%;

  .button.hollow {
  	border: 2px solid #fff;
    color: #fefefe;
    letter-spacing: .3rem;
    font-size: 1.1rem;
    font-weight: 700;
    border-radius: 10px;

    &:hover {
      background-color: #fefefe;
      border-color: #fefefe;
      color: #0a0a0a;
    }
  }
}

#frontPage {
    position: absolute;
}