// --------------------------------------------------
// Layout page
// --------------------------------------------------


.page {

	main {
		display: grid;
		grid-template-columns: #{$columns};
	}
}

@include breakpoint-up(xl) {

	.page {

		main {
			grid-template-columns: #{$xl-columns};
		}
	}

}