// --------------------------------------------------
// Layout post
// --------------------------------------------------

article {
	display: grid;
	grid-template-columns: #{$columns};

	* {
		grid-column: content-start / span 12;
	}
}

.post aside {
	width: 100%;
	max-width: $container;
	margin: 0 auto;
}

@include breakpoint-up(xl) {
	article {
		grid-template-columns: #{$xl-columns};
	}

	.post aside {
		position: fixed;
		bottom: 4rem;
		right: 0;
		width: 15rem;
		height: 25rem;
		display: flex;
		flex-direction: column;
		background: $darkblue;
		border: solid 0.4rem $lightblue;
		border-right: 0;
		border-radius: 1rem 0 0;
		padding: 0 1rem;

		&:after {
			content: 'Sidebar';
			color: $white;
			position: absolute;
			background: $darkblue;
			border: solid 0.4rem $lightblue;
			border-bottom: 0;
			border-radius: 1rem 1rem 0 0;
			padding: 0.4rem 1.5rem;
			bottom: 1.73rem;
			left: -5.1rem;
			transform: rotate(-90deg);
		}

		p {
			color: $white;
		}
	}
}