@import 'tailwindcss/base';

@import './base.pcss';
@import './post-content.pcss';

@import 'tailwindcss/components';
/* @import './your-custom-components.css'; */

@import 'tailwindcss/utilities';
/* @import './your-custom-utilities.css';  */
