.post-content {
  & ul,
  & ol {
    @apply mb-4 ml-5;

    & ul,
    & ol {
      @apply mb-0;
    }
  }

  & ul {
    list-style: disc;
  }

  & ol {
    list-style-type: decimal;
  }

  & iframe {
    @apply mb-4;
  }
}
