@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
h1, h2, h3, h4, h5, h6,
p, a, i, li {
  font-family: 'Open Sans', sans-serif;
  color: #333; }

a {
  color: #88c6c6;
  text-decoration: none;
  transition: color 300ms;
  cursor: pointer; }
  a:hover {
    color: #24465C; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

*, *:before, *:after {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0; }

header {
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  -ms-flex-align: center;
      align-items: center; }
  header .logo {
    max-width: 17rem;
    width: 100%;
    -ms-flex-negative: 1;
        flex-shrink: 1; }
  header nav {
    -ms-flex-positive: 1;
        flex-grow: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
        justify-content: flex-end;
    position: relative; }
  header i {
    cursor: pointer;
    color: #88c6c6;
    transition: color 300ms; }
    header i:hover {
      color: #24465C; }
  header .menu {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background: #fff;
    padding: 2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-transform: translateX(100%);
        transform: translateX(100%);
    transition: transform 600ms; }
    header .menu i {
      padding-top: 0.5rem; }
  header .opened {
    -ms-transform: translateX(0);
        transform: translateX(0);
    visibility: visible; }
  header .closed {
    visibility: hidden; }
  header ul {
    -ms-flex-positive: 1;
        flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style-type: none; }
  header li {
    padding: 0.5rem 0; }

@media (min-width: 768px) {
  header .menu {
    position: relative;
    background: none;
    min-height: 0;
    width: auto;
    padding: 0;
    -ms-transform: none;
        transform: none;
    transition: none;
    visibility: visible; }
  header i.fa {
    display: none; }
  header li {
    display: inline-block;
    padding: 0.8rem 0.7rem; } }

@media (min-width: 992px) {
  header .logo {
    width: 22rem; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImFwcC5zY3NzIiwiYmFzZS9fdGV4dC5zY3NzIiwiYmFzZS9fY29uZmlnLnNjc3MiLCJiYXNlL19nZW5lcmFsLnNjc3MiLCJtb2R1bGVzL19uYXYuc2NzcyIsImhlbHBlcnMvX21peGlucy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQThCQSx3RUFBWTtBQUVaLDJGQUFZO0FDM0JaOztFQUVDLHFDQUFxQztFQUNyQyxZQ1ljLEVEWGQ7O0FBRUQ7RUFDQyxlQ1VpQjtFRFRqQixzQkFBc0I7RUFDdEIsd0JBQXdCO0VBQ3hCLGdCQUFnQixFQUtoQjtFQVREO0lBT0UsZUNLZ0IsRURKaEI7O0FBSUY7RUFDQyxpQkFBaUIsRUFDakI7O0FFekJEO0VBQ0MsdUJBQXVCLEVBQ3ZCOztBQUVEO0VBQ0MsVUFBVTtFQUNWLFdBQVcsRUFDWDs7QUNIRDtFQUNDLHFCQUFjO0VBQWQsY0FBYztFQUNkLGdCQUFnQjtFQUNoQix1QkFBb0I7TUFBcEIsb0JBQW9CLEVBNkRwQjtFQWhFRDtJQU1FLGlCQUFpQjtJQUNqQixZQUFZO0lBQ1oscUJBQWU7UUFBZixlQUFlLEVBQ2Y7RUFURjtJQVlFLHFCQUFhO1FBQWIsYUFBYTtJQUNiLHFCQUFjO0lBQWQsY0FBYztJQUNkLG1CQUEwQjtRQUExQiwwQkFBMEI7SUFDMUIsbUJBQW1CLEVBQ25CO0VBaEJGO0lBbUJFLGdCQUFnQjtJQUNoQixlRkZnQjtJRUdoQix3QkFBd0IsRUFLeEI7SUExQkY7TUF3QkcsZUZMZSxFRU1mO0VBekJIO0lBNkJFLGdCQUFnQjtJQUNoQixrQkFBa0I7SUFDbEIsWUFBWTtJQUNaLE9BQU87SUFDUCxRQUFRO0lBQ1IsaUJGbkJVO0lFb0JWLGNBQWM7SUFDZCxxQkFBYztJQUFkLGNBQWM7SUFDZCxnQ0FBcUI7UUFBckIsNEJBQXFCO0lBQ3JCLDRCQUE0QixFQUs1QjtJQTNDRjtNQXlDRyxvQkFBb0IsRUFDcEI7RUExQ0g7SUE4Q0UsNkJBQXFCO1FBQXJCLHlCQUFxQjtJQUNyQixvQkFBb0IsRUFDcEI7RUFoREY7SUFtREUsbUJBQW1CLEVBQ25CO0VBcERGO0lBdURFLHFCQUFhO1FBQWIsYUFBYTtJQUNiLFVBQVU7SUFDVixXQUFXO0lBQ1gsc0JBQXNCLEVBQ3RCO0VBM0RGO0lBOERFLGtCQUFrQixFQUNsQjs7QUM1REE7RURpRUQ7SUFHRSxtQkFBbUI7SUFDbkIsaUJBQWlCO0lBQ2pCLGNBQWM7SUFDZCxZQUFZO0lBQ1osV0FBVztJQUNYLG9CQUFnQjtRQUFoQixnQkFBZ0I7SUFDaEIsaUJBQWlCO0lBQ2pCLG9CQUFvQixFQUNwQjtFQVhGO0lBY0UsY0FBYyxFQUNkO0VBZkY7SUFrQkUsc0JBQXNCO0lBQ3RCLHVCQUF1QixFQUN2QixFQUFBOztBQ3JGRDtFRDBGRDtJQUVFLGFBQWEsRUFDYixFQUFBIiwiZmlsZSI6ImFwcC5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvLyAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuLy8gQVBQLlNDU1Ncbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG4vLyBUaGlzIGlzIG91ciBtYWluIFNDU1MgZmlsZSB0aGF0IGltcG9ydHMgZXZlcnl0aGluZ1xuLy8gdGhhdCBnZXRzIGNvbXBpbGVkIGludG8gYXBwLmNzc1xuXG4vLyBJbXBvcnQgb3JkZXI6XG4vLyAxLiAgRW5jb2Rpbmdcbi8vIDIuICBGb250c1xuLy8gMy4gIFZhcmlhYmxlc1xuLy8gNC4gIEhlbHBlcnNcbi8vIDUuICBCYXNlXG4vLyA2LiAgTW9kdWxlc1xuLy8gNy4gIExheW91dFxuLy8gOC4gIFBhZ2VzXG5cblxuXG4vLyAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuLy8gMS4gRW5jb2Rpbmdcbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG5AY2hhcnNldCAnVVRGLTgnO1xuXG5cblxuLy8gLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS1cbi8vIDIuIEZvbnRzXG4vLyAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuXG4vLyBPcGVuIFNhbnNcbkBpbXBvcnQgdXJsKFwiaHR0cDovL2ZvbnRzLmdvb2dsZWFwaXMuY29tL2Nzcz9mYW1pbHk9T3BlbitTYW5zOjMwMCw3MDBcIik7XG5cbkBpbXBvcnQgdXJsKCdodHRwczovL21heGNkbi5ib290c3RyYXBjZG4uY29tL2ZvbnQtYXdlc29tZS80LjcuMC9jc3MvZm9udC1hd2Vzb21lLm1pbi5jc3MnKTtcblxuXG5cbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG4vLyAzLiBWYXJpYWJsZXNcbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG5cbi8vIEltcG9ydCBvdXIgZ2xvYmFsIHZhcmlhYmxlcyBmaXJzdCBzbyB3ZSBjYW4gdXNlXG4vLyB0aGVtIGluIEZvdW5kYXRpb25zJ3MgdmFyaWFibGVzIGZpbGVcblxuLy8gR2xvYmFsIENvbmZpZyBWYXJpYWJsZXNcbkBpbXBvcnQgJ2Jhc2UvY29uZmlnJztcblxuXG4vLyAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuLy8gNC4gSGVscGVyc1xuLy8gLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS1cblxuLy8gRnVuY3Rpb25zXG5AaW1wb3J0ICdoZWxwZXJzL2Z1bmN0aW9ucyc7XG5cbi8vIE1peGluc1xuQGltcG9ydCAnaGVscGVycy9taXhpbnMnO1xuXG5cblxuLy8gLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS1cbi8vIDUuIEJhc2Vcbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG5AaW1wb3J0ICdiYXNlL3RleHQnO1xuQGltcG9ydCAnYmFzZS9nZW5lcmFsJztcblxuXG5cbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG4vLyA2LiBNb2R1bGVzXG4vLyAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuQGltcG9ydCAnbW9kdWxlcy9uYXYnO1xuXG5cblxuLy8gLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS1cbi8vIDcuIExheW91dFxuLy8gLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS1cbkBpbXBvcnQgJ2xheW91dHMvbC1kZWZhdWx0JztcbkBpbXBvcnQgJ2xheW91dHMvbC1pbmRleCc7XG5AaW1wb3J0ICdsYXlvdXRzL2wtcGFnZSc7XG5AaW1wb3J0ICdsYXlvdXRzL2wtcG9zdCc7XG5cblxuXG4vLyAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuLy8gOC4gUGFnZXNcbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG5AaW1wb3J0ICdwYWdlcy9mcm9udHBhZ2UnO1xuXG5cblxuIiwiLy8gLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS1cbi8vIFRleHRcbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG5cblxuaDEsIGgyLCBoMywgaDQsIGg1LCBoNixcbnAsIGEsIGksIGxpIHtcblx0Zm9udC1mYW1pbHk6ICdPcGVuIFNhbnMnLCBzYW5zLXNlcmlmO1xuXHRjb2xvcjogJGRhcmtncmV5O1xufVxuXG5hIHtcblx0Y29sb3I6ICRsaWdodGJsdWU7XG5cdHRleHQtZGVjb3JhdGlvbjogbm9uZTtcblx0dHJhbnNpdGlvbjogY29sb3IgMzAwbXM7XG5cdGN1cnNvcjogcG9pbnRlcjtcblxuXHQmOmhvdmVyIHtcblx0XHRjb2xvcjogJGRhcmtibHVlO1xuXHR9XG59XG5cblxuaDEsIGgyLCBoMywgaDQsIGg1LCBoNiB7XG5cdGZvbnQtd2VpZ2h0OiA3MDA7XG59XG5cbiIsIi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG4vLyBDb25maWdcbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG5cbi8vXG4vLyBCcmVha3BvaW50c1xuLy8gLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS1cbiRicmVha3BvaW50czogKFxuXHRzbTogNTc2cHgsXG5cdG1kOiA3NjhweCxcblx0bGc6IDk5MnB4LFxuXHR4bDogMTIwMHB4XG4pO1xuXG4vL1xuLy8gQ29sb3JzXG4vLyAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuXG4kYmxhY2s6ICMwMDA7XG4kd2hpdGU6ICNmZmY7XG4kZGFya2dyZXk6ICMzMzM7XG5cbiRsaWdodGJsdWU6IGRhcmtlbigjQ0RFN0U3LCAyMCUpO1xuJGRhcmtibHVlOiAjMjQ0NjVDOyIsIiosICo6YmVmb3JlLCAqOmFmdGVyIHtcblx0Ym94LXNpemluZzogYm9yZGVyLWJveDtcbn1cblxuYm9keSwgaHRtbCB7XG5cdG1hcmdpbjogMDtcblx0cGFkZGluZzogMDtcbn0iLCIvLyAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuLy8gSGVhZGVyXG4vLyAtLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLVxuXG5oZWFkZXIge1xuXHRkaXNwbGF5OiBmbGV4O1xuXHRwYWRkaW5nOiAxLjVyZW07XG5cdGFsaWduLWl0ZW1zOiBjZW50ZXI7XG5cblx0LmxvZ28ge1xuXHRcdG1heC13aWR0aDogMTdyZW07XG5cdFx0d2lkdGg6IDEwMCU7XG5cdFx0ZmxleC1zaHJpbms6IDE7XG5cdH1cblxuXHRuYXYge1xuXHRcdGZsZXgtZ3JvdzogMTtcblx0XHRkaXNwbGF5OiBmbGV4O1xuXHRcdGp1c3RpZnktY29udGVudDogZmxleC1lbmQ7XG5cdFx0cG9zaXRpb246IHJlbGF0aXZlO1xuXHR9XG5cblx0aSB7XG5cdFx0Y3Vyc29yOiBwb2ludGVyO1xuXHRcdGNvbG9yOiAkbGlnaHRibHVlO1xuXHRcdHRyYW5zaXRpb246IGNvbG9yIDMwMG1zO1xuXG5cdFx0Jjpob3ZlciB7XG5cdFx0XHRjb2xvcjogJGRhcmtibHVlO1xuXHRcdH1cblx0fVxuXG5cdC5tZW51IHtcblx0XHRwb3NpdGlvbjogZml4ZWQ7XG5cdFx0bWluLWhlaWdodDogMTAwdmg7XG5cdFx0d2lkdGg6IDEwMCU7XG5cdFx0dG9wOiAwO1xuXHRcdGxlZnQ6IDA7XG5cdFx0YmFja2dyb3VuZDogJHdoaXRlO1xuXHRcdHBhZGRpbmc6IDJyZW07XG5cdFx0ZGlzcGxheTogZmxleDtcblx0XHR0cmFuc2Zvcm06IHRyYW5zbGF0ZVgoMTAwJSk7XG5cdFx0dHJhbnNpdGlvbjogdHJhbnNmb3JtIDYwMG1zO1xuXG5cdFx0aSB7XG5cdFx0XHRwYWRkaW5nLXRvcDogMC41cmVtO1xuXHRcdH1cblx0fVxuXG5cdC5vcGVuZWQge1xuXHRcdHRyYW5zZm9ybTogdHJhbnNsYXRlWCgwKTtcblx0XHR2aXNpYmlsaXR5OiB2aXNpYmxlO1xuXHR9XG5cblx0LmNsb3NlZCB7XG5cdFx0dmlzaWJpbGl0eTogaGlkZGVuO1xuXHR9XG5cblx0dWwge1xuXHRcdGZsZXgtZ3JvdzogMTtcblx0XHRtYXJnaW46IDA7XG5cdFx0cGFkZGluZzogMDtcblx0XHRsaXN0LXN0eWxlLXR5cGU6IG5vbmU7XG5cdH1cblxuXHRsaSB7XG5cdFx0cGFkZGluZzogMC41cmVtIDA7XG5cdH1cbn1cblxuQGluY2x1ZGUgYnJlYWtwb2ludC11cChtZCkge1xuXG5cdGhlYWRlciB7XG5cblx0XHQubWVudSB7XG5cdFx0XHRwb3NpdGlvbjogcmVsYXRpdmU7XG5cdFx0XHRiYWNrZ3JvdW5kOiBub25lO1xuXHRcdFx0bWluLWhlaWdodDogMDtcblx0XHRcdHdpZHRoOiBhdXRvO1xuXHRcdFx0cGFkZGluZzogMDtcblx0XHRcdHRyYW5zZm9ybTogbm9uZTtcblx0XHRcdHRyYW5zaXRpb246IG5vbmU7XG5cdFx0XHR2aXNpYmlsaXR5OiB2aXNpYmxlO1xuXHRcdH1cblxuXHRcdGkuZmEge1xuXHRcdFx0ZGlzcGxheTogbm9uZTtcblx0XHR9XG5cblx0XHRsaSB7XG5cdFx0XHRkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG5cdFx0XHRwYWRkaW5nOiAwLjhyZW0gMC43cmVtO1xuXHRcdH1cblx0fVxufVxuXG5AaW5jbHVkZSBicmVha3BvaW50LXVwKGxnKSB7XG5cdGhlYWRlciB7XG5cdFx0LmxvZ28ge1xuXHRcdFx0d2lkdGg6IDIycmVtO1xuXHRcdH1cblx0fVxufSIsIi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG4vLyBNaXhpbnNcbi8vIC0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tLS0tXG5cblxuQG1peGluIGJyZWFrcG9pbnQtdXAoJHZhbHVlKSB7XG5cdEBpZiBtYXAtaGFzLWtleSgkYnJlYWtwb2ludHMsICR2YWx1ZSkge1xuXHRcdEBtZWRpYSAobWluLXdpZHRoOiAje21hcC1nZXQoJGJyZWFrcG9pbnRzLCAkdmFsdWUpfSkge1xuXHRcdFx0QGNvbnRlbnQ7XG5cdFx0fVxuXHR9XG59XG5cbkBtaXhpbiBicmVha3BvaW50LWRvd24oJHZhbHVlKSB7XG5cdEBpZiBtYXAtaGFzLWtleSgkYnJlYWtwb2ludHMsICR2YWx1ZSkge1xuXHRcdEBtZWRpYSAobWF4LXdpZHRoOiAje21hcC1nZXQoJGJyZWFrcG9pbnRzLCAkdmFsdWUpfSkge1xuXHRcdFx0QGNvbnRlbnQ7XG5cdFx0fVxuXHR9XG59Il19 */
