// --------------------------------------------------
// Frontpage
// --------------------------------------------------


//
// Hero Image
// --------------------------------------------------

.main-hero {
	grid-column: span 14;
	background: url('/assets/img/frontpage-large.jpg') no-repeat center top;
	background-size: 300%;
	padding: 4rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1, p {
		// color: $white;
		max-width: 32rem;
	}

	h1 {
		margin-bottom: 0;
	}
}

@include breakpoint-up(sm) {
	.main-hero {
		background-size: 200%;
	}
}

@include breakpoint-up(md) {
	.main-hero {
		background-size: 150%;
	}
}

@include breakpoint-up(lg) {
	.main-hero {
		background-size: 110%;
	}
}

@include breakpoint-up(xl) {
	.main-hero {
		background-size: 100%;
	}
}


//
// About Me Section
// --------------------------------------------------

.about-me {
	padding: 4rem 1rem;
	grid-column: content-start / span 12;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	h2 {
		width: 100%;
		text-align: center;
	}

	img {
		border-radius: 50%;
		max-width: 250px;
		width: 100%;
		margin: 1rem 0;
	}

	p {
	}
}

@include breakpoint-up(md) {
	.about-me {
		img {
			width: calc(35% - 1rem);
			margin-right: 1rem;
		}

		p {
			width: 65%;
		}
	}
}


//
// Recent Posts & Projects
// --------------------------------------------------

.recent-posts, .recent-projects {
	grid-column: content-start / span 12;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
	justify-items: center;
	padding: 1rem;

	h2, a {
		grid-column: span 4;
		text-align: center;
	}

	a {
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 100%;
		justify-items: center;
		align-items: center;
		max-width: 25rem;

		&:hover {
			span {
				background: $white;
				color: $darkblue;
			}
		}
	}

	img {
		grid-column: 1 / span 1;
		grid-row: 1;
		z-index: 1;
		max-width: 100%;
		height: auto;
		border-radius: 50%;
	}

	span {
		grid-column: 1 / span 1;
		grid-row: 1;
		z-index: 2;
		padding: 0.2rem 0.5rem;
		background: $darkblue;
		color: $white;
		transition: background 250ms, color 250ms;
	}
}

@include breakpoint-up(sm) {
	.recent-posts, .recent-projects {
		a {
			grid-column: span 2;
			max-width: 100%;

			&:nth-of-type(3) {
				grid-column: 2 / span 2;
			}
		}
	}
}

@include breakpoint-up(md) {
	.recent-posts, .recent-projects {
		a {
			transition: transform 250ms;

			&:nth-of-type(1) {
				grid-column: 2 / span 2;
				grid-row: 2;
				z-index: 2;
			}

			&:nth-of-type(2) {
				grid-column: 1 / span 2;
				grid-row: 2;
				z-index: 1;
			}

			&:nth-of-type(3) {
				grid-column: 3 / span 2;
				grid-row: 2;
				z-index: 1;
			}

			&:hover {
				z-index: 5 !important;
				transform: scale(1.05);
			}
		}

		img {
			border: solid 0.8rem transparentize($white, 0.8);
		}
	}
}

.recent-projects {
	img {
		border-radius: 0;
		border: 0;
		box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.2);
	}
}

@include breakpoint-up(md) {
	.recent-projects {
		a {
			max-width: 75%;
			margin-left: 2rem;

			&:nth-of-type(1) {
				grid-column: 1 / span 2;
				z-index: 3;
			}

			&:nth-of-type(2) {
				grid-column: 2 / span 2;
				z-index: 2;
				max-width: 70%;
			}

			&:nth-of-type(3) {
				grid-column: 3 / span 2;
				z-index: 1;
				max-width: 65%;
			}
		}
	}
}



//
// Hire Me
// --------------------------------------------------
.hire-me {
	grid-column: content-start / span 12;
	display: grid;
	flex-direction: row;
	grid-template-columns: repeat(2, 1fr);

	h2, .card, .btn {
		grid-column: span 2;
	}

	h2 {
		justify-self: center;
	}

	.btn {
		justify-self: center;
		align-self: center;

		&:hover {
			border: 1px solid $darkblue;
		}
	}
}

@include breakpoint-up(lg) {
	.hire-me {
		.card, .btn {
			grid-column: span 1;
		}
	}
}




